<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.phonegap.plugins.flurry"
        version="0.0.1">
    <name>Flurry</name>

    <js-module src="www/flurry.js" name="Flurry">
        <clobbers target="Flurry" />
    </js-module>


    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Flurry">
                <param name="android-package" value="com.phonegap.plugins.Flurry" />
            </feature>
        </config-file>
        <source-file src="src/android/Flurry.java"
                     target-dir="src/com/phonegap/plugins/flurry" />
        <source-file src="src/android/Flurry_3.2.1.jar"
                     target-dir="libs" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Flurry">
                <param name="ios-package" value="CDVFlurry" />
            </feature>
        </config-file>

        <header-file src="src/ios/CDVFlurry.h" />
        <source-file src="src/ios/CDVFlurry.m" />
        <source-file src="src/ios/Flurry.h" />
        <source-file src="src/ios/libFlurry_4.2.2.a" framework="true" />

        <framework src="UIKit.framework" />
    </platform>

</plugin>